<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans.xsd        http://code.alibabatech.com/schema/dubbo        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
 
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="dubbo-server-provider"  />
 
    <!-- 使用multicast广播注册中心暴露服务地址 -->
    <dubbo:registry address="${zoo.address}" />
    
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880" />
 	
    <!-- 声明需要暴露的服务接口 -->
    <!--loadbalance="random"  随机，按权重设置随机概率。-->
    <!--loadbalance="roundrobin"  轮循，按公约后权重设置轮循比率。-->
    <!--loadbalance="LeastActive"  最少活跃调用数，相同活跃数的随机，活跃数指调用前后计数差。-->
    <!--loadbalance="ConsistentHash"  一致性Hash，相同参数的请求总是发到同一提供者。-->
    <!-- cluster="failsafe" loadbalance="random" -->
    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.thd.service.UserServiceLocal" ref="userServiceLocal" />
 
</beans>